@{
    Layout = null;
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />

        <script src="../../Scripts/qsm-mui/zepto-1.1.4.min.js" type="text/javascript"></script>
        <script src="../../Scripts/qsm-mui/fx.js" type="text/javascript"></script>
        <script src="../../Scripts/qsm-mui/zepto.selector.js" type="text/javascript"></script>
        <script src="../../Scripts/qsm-mui/zepto.touch.js" type="text/javascript"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                $('.i-a-bh').on($.clickAction, function () {
                    var tg = $('.i-bh-tab');
                    if (tg.hasClass('on')) {
                        tg.removeClass('on');
                    }
                    else {
                        tg.addClass('on');
                    }
                });
                $('.i-a-back').on($.clickAction, function () {
                    window.location = window.sessionStorage.backurl;
                });
                LoadData();
                
            });

            var LoadData = function () {                
                var url = "GetCartProductByCustomer";
                var para = { };
                submitAjax(url, para);               
            }

            var getHtml = function (data) {

                var sku = data["Sku"];
                var price = data["Price"] + "";
                price = price.formatCurrency();
                var quantity = data["Quantity"];
                var Actived = data["Actived"]; //checked
                if (Actived == "1" || Actived == "true") {
                    Actived = "checked";
                }
                else {
                    Actived = "";
                }
                var Description = data["Description"];
                if (!Description) {
                    Description = "";
                }
                var cartId = data["Id"];

                var li = '<li id="product{0}">'
	            + '<div class="items">'
                + ' <div class="cart-check-wrapper"> '
                + ' <span id="checkIcon{0}" class="cart-checkbox {3}" onclick="changeSelected(this,{0},1)"></span> '
                + ' </div> '
                + ' <div class="cart-item-core"> '
                + '  <div class="cart-product-cell-3"> '
                + '      <span class="cart-item-price" id="price{0}">￥{1}</span> '
                + '  </div> '
                + '  <a class="cart-product-cell-1" href="/product/{0}/index.html?sid=a0b43b56f4431a58b6e78b635837359c"> '
                + '      <img class="cart-photo-thumb" alt="" src="../../product/{0}/{0}.jpg" onerror="lib/skin/e/i/error-jd.gif"> '
                + '  </a> '
                + '  <div class="cart-product-cell-2"> '
                + '      <div class="cart-product-name"><a href="/product/{0}/index.html?pid=a0b43b56f4431a58b6e78b635837359c"><span>{4}</span></a></div>  '
                + '       <div class="cart-opt"> '
                + '          <div class="cart-quantity-wrapper"> '
                + '              <input type="hidden" id="limitSukNum{0}" value="200"> '
                + '              <a class="cart-quantity-decrease disabled" id="subnum{0}" href="javascript:subQuantityBybutton({0})">-</a> '
                + '              <input type="text" class="quantity" size="4" onchange="QuqntityChange({0},this.value)"   value="{2}" name="num" id="num{0}">  '
                + '              <a class="quantity-increase" id="addnum{0}" href="javascript:addQuantityBybutton({0})">+</a> '
                + '          </div>'
                + '          <a class="cart-icon-remove" href="javascript:deleteCartWare({5})"></a> '
                + '      </div> '
                + '  </div> '
                + '  </div>  '
                + ' <div class="cart-diver-hr-dashed"></div> '
	            + '</div> '
                + ' </li>'
                var liHtml = li.format(sku, price, quantity, Actived, Description, cartId);
                return liHtml;
            }

            var submitAjax = function (url, para) {
                $.ajax({
                    url: url,
                    data: para,
                    type: "POST",
                    dataType: "json",
                    success: function (data) {
                        
                        var lis = "";
                        if (data && data.length > 0) {
                            for (var i = 0, j = data.length; i < j; i++) {
                                lis += getHtml(data[i]);
                            }
                        }
                        var objul = $("#notEmptyMyCart ul");
                        if (lis) {
                            var li = objul.find("li:last");
                            if (li && li.length > 0) {
                                objul.children().remove();
                                objul.html(lis);
                            }
                            else {
                                objul.html(lis);
                            }
                        }
                        else {
                            objul.html("");
                        }
                        SetTotal(data);
                    },
                    error: function () {
                        alert("请求错误！");
                    }

                });
            }
            function deleteCartWare(id) {                
                if (confirm("确定要删除吗？")) {
                    // $("#product" + id).remove();                    
                    DeleteData(id);
                }
            }
            var DeleteData = function (productId) {
                var url = "Delete";
                var para = {pid: productId };
                submitAjax(url,para);              
            }
           
            function changeSelected(e,id) {
                var obj = $(e);
                var check = 0;
                if (obj.hasClass("checked")) {
                    // obj.removeClass("checked");
                    check =0;
                }
                else {
                    //obj.addClass("checked");
                    check = 1;
                }
                var url = "UpdateActived";
                var pStr = id + "," + check;
                var para ={para:pStr};

                submitAjax(url,para);
            }

            function checkAllProduct(e) {

                var obj = $(e);
                var actived=1;
                if (obj.hasClass("checked")) {
                    actived = 0;
                    obj.removeClass("checked");
                }
                else {
                    obj.addClass("checked");
                }

                var url = "UpdateActived";
                var para = { type: "all", actived: actived };

                submitAjax(url, para);     
            }
            function SetTotal(data) {
            
            var sumPrice = cartSumPrice(data);
                sumPrice=(sumPrice+"").formatCurrency();
                $("#cart_realPrice").html(sumPrice);

                //商品总额
                $("#cart_oriPrice").html(sumPrice);
                //返现
                $("#cart_rePrice").html("0.00");
                //结算数量
                var iCount = 0;
                iCount=cartProductCount(data);
                $("#checkedNum").html(iCount);
                //设置全选按钮状态
                var notCheckCount = 0;
                var actived = cartAcivedCount(data);
                if (data.length == actived)
                {
                    $("#payment .cart-checkbox").each(function () {
                        $(this).addClass("checked");
                    })
                }
                else
                {
                    $("#payment .cart-checkbox.checked").each(function () {
                        $(this).removeClass("checked");
                    })
                }
            }
            function cartSumPrice(data) {
                var sumTotal = 0.00;
                for(var i=0,j=data.length;i<j;i++ )
                {
                    var row=data[i];
                    if(row["Actived"]=="1")
                    {
                         var quantity=row["Quantity"];
                        if(quantity)
                        {
                            quantity=parseInt(quantity);
                        }
                        var price=row["Price"];
                        if(price)
                        {
                            price=parseFloat(price);
                        }
                        sumTotal+=quantity * price;
                    }
                }
                return sumTotal;

            }

            function cartProductCount(data)
            {
                var count=0;
                 for(var i=0,j=data.length;i<j;i++ )
                {
                    var row=data[i];
                    if(row["Actived"]=="1")
                    {
                         var quantity=row["Quantity"];
                        if(quantity)
                        {
                            quantity=parseInt(quantity);
                            count+=quantity;
                        }                        
                    }
                }
                return count;
            }

            function cartAcivedCount(data) {
                var count = 0;
                for (var i = 0, j = data.length; i < j; i++) {
                    var row = data[i];
                    if (row["Actived"] == "1") {
                        count++;
                    }
                }
                return count;
            }

            function addQuantityBybutton(productid) {
                var q = $("#num" + productid).val();
                if (q) {
                    q = parseInt(q);
                    q++;
                }
                $("#num" + productid).val(q);
                $("#num" + productid).attr("value",q);
                QuqntityChange(productid, q);
            }
            function subQuantityBybutton(productid) {
                var q = $("#num" + productid).val();
                if (q) {
                    q = parseInt(q);
                    if (q > 1) {
                        q--;
                    }
                }
                $("#num" + productid).val(q);
                $("#num" + productid).attr("value", q);
                QuqntityChange(productid,q);
            }
            function QuqntityChange(productid, value) {
                
                var url = "UpdateQuantity";                
                var para = { pid: productid,quantity:value};
                submitAjax(url, para);
            }

        </script>

        <script type="text/javascript">
            String.prototype.format = function (args) {
                var result = this;
                if (arguments.length > 0) {
                    if (arguments.length == 1 && typeof (args) == "object") {
                        for (var key in args) {
                            if (args[key] != undefined) {
                                var reg = new RegExp("({" + key + "})", "g");
                                result = result.replace(reg, args[key]);
                            }
                        }
                    }
                    else {
                        for (var i = 0; i < arguments.length; i++) {
                            if (arguments[i] != undefined) {                              
                                var reg = new RegExp("({)" + i + "(})", "g");
                                result = result.replace(reg, arguments[i]);
                            }
                        }
                    }
                }
                return result;
            }

            /**
            * 将数值四舍五入(保留2位小数)后格式化成金额形式
            *
            * param num 数值(Number或者String)
            * return 金额格式的字符串,如'1,234,567.45'
            * type String
            */
            String.prototype.formatCurrency = function () {
                var num = this.toString();                
                if (num == undefined || num=="") return "0.00";
                num = num.toString().replace(/\$|\,/g, '');
                if (isNaN(num))
                    num = "0";
                var sign = (num == (num = Math.abs(num)));
                num = Math.floor(num * 100 + 0.50000000001);
                var cents = num % 100;
                num = Math.floor(num / 100).toString();
                if (cents < 10)
                    cents = "0" + cents;
                for (var i = 0; i < Math.floor((num.length - (1 + i)) / 3); i++)
                    num = num.substring(0, num.length - (4 * i + 3)) + ',' +
                     num.substring(num.length - (4 * i + 3));
                return (((sign) ? '' : '-') + num + '.' + cents);
            }

        </script>
        <style type="text/css">
            @@font-face
            {
        	    font-family:icons;
        	    src:url(../Scripts/qsm-mui/iconfont_141111.ttf) format('truetype');
        	    font-weight:400;
        	    font-style:normal;
            }
            *
            {
            	margin:0;
            	padding:0;
            }
            a
            {
            	text-decoration:none;
            }
            body
            {
            	line-height: 1.25em;
            	font-family: 'microsoft yahei',Verdana,Arial,Helvetica,sans-serif;
            }
            .i-bh-header
            {
                position: relative;
                height: 44px;
                background: #e4393c;
            }
            .i-bh-header h2 
            {
                height: 44px;
                line-height: 44px;
                font-weight: normal;
                font-size: 16px;
                color: #fff;
                text-align: center;
            }
            .i-a-back 
            {
                position: absolute;
                top: 6px;
                left: 6px;
                width: 30px;
                height: 32px;
            }
            .i-a-back span 
            {
                display: inline-block;
                width: 10px;
                height: 18px;
                margin-top: 6px;
                background: url(../Content/images/icon2b.png) -60px 0 no-repeat;
                background-size: 180px 180px;
                text-indent: -9999px;
            }
            .i-a-bh 
            {
                position: absolute;
                top: 6px;
                right: 12px;
                width: 37px;
                height: 30px;
            }
            .i-a-bh span 
            {
                display: inline-block;
                width: 21px;
                height: 21px;
                margin: 5px 0 0 13px;
                background: url(../Content/images/icon2b.png) -125px -24px no-repeat;
                background-size: 180px 180px;
                text-indent: -9999px;
            }
            .i-bh-tab
            {
                border-bottom: 1px solid #d0cece;
                background-color: #fff;
                display:none;
            }
            .i-bh-tab.on
            {
            	display:block;
            }
            .i-tbl-type 
            {
                display: table;
                width: 100%;
            }
            .i-bh-tab .i-tbl-cell 
            {
                width: 25%;
                padding: 9px 0;
                font-size: 12px;
                text-align: center;
                display: table-cell;
            }
            .i-bh-tab .i-tbl-cell span
            {
            	background: url(../Content/images/icon2b.png) -60px -25px no-repeat;
                background-size: 180px 180px;
                vertical-align: text-top;
                display: inline-block;
                width: 22px;
                height: 22px;
                color:#6e6e6e;
            }
            
            
            
           .new-ct 
            {
                min-height: 203px;
                background-color: #fff;
            }
            .title 
            {
                padding: 13px 10px 7px;
                border-bottom: 1px solid #c8c7cc;
                background: #f1f1f5;
                font-size: 14px;
                color: #666;
            }
            .cart-list
            {
                padding-left: 10px;
                border-bottom: 1px solid #c8c7cc;
            }
            .info-delv
            {
                padding: 13px 10px 12px;
                border-bottom: 1px solid #c8c7cc;
            }
            .info-delv.b-b-n
            {
                border-bottom: none;
            }
            .btn-radio 
            {
                display: inline-block;
                width: 22px;
                height: 22px;
                padding: 0;
                /*background: url(../Content/images/icon_order.png) -79px -50px no-repeat; */     
                background: url(../Content/images/icon_order.png) -29px -57px no-repeat;             
                background-size: 100px 100px;
                vertical-align: -5px;
            }
            .btn-radio.on 
            {
                /*background-position: -55px -50px;*/
                background-position:0px -56px
            }
            .mgn 
            {
                margin: 15px 10px;
            }
            .new-abtn-type
            {
                display: block;
                padding: 8px;
                border-radius: 2px;
                background-color: #c00;
                font-size: 14px;
                color: #fff;
                text-align: center;
            }
            
            
            
            
            
            .i-footer 
            {
                margin-top: 20px;
                background-color: #f3f2f2;
                font-size: 14px;
                color: #6e6e6e;
                text-align: center;
            }
            .i-footer .i-f-login 
            {
                /*position: relative;*/
                padding: 0 12px;
                background-color: #a8a8a8;
                line-height: 27px;
                color: #fff;
                text-align: left;
                heigth: 27px;
            }
            .i-footer .i-f-login a 
            {
                color: #fff;
            }
            .i-footer .i-f-login .i-bar2 
            {
                margin: 0 5px;
            }
            .i-footer .i-f-login .i-back-top 
            {
                position: absolute;
                right: 12px;
            }
            .i-footer .i-f-section, .i-footer .i-f-section2 
            {
                padding: 10px 0;
            }
            .i-footer .i-f-section a:first-child 
            {
                margin-left: 0;
            }
            .i-footer .i-f-section a 
            {
                margin-left: 20px;
                color: #6e6e6e;
            }
            .i-footer .i-f-section .on 
            {
                color: #c30202;
            }
        </style>
       
       <style>
           * {
            margin: 0;
            padding: 0;
            }
          ul, ol {
            list-style: none;
            }
            
           .cart-list .items, .shp-cart-conditions-span, .shp-cart-item-abstract, .shp-cart-conditions-link, .cart-list .cart-diver-hr-dashed, .cart-list .diver-hr-solid {
            margin-left: 40px;
            }
           .cart-check-wrapper {
            height: 20px;
            width: 20px;
            margin-left: -29px;
            margin-top: 19px;
            display: block;
            position: absolute;
           }
           .items {
            text-align: left;
            padding-top: 10px;
           }
           .cart-check-wrapper .cart-checkbox {
            width: 20px;
            height: 20px;
           }
           .cart-checkbox.checked {
            background-position: -25px 0;
            }
           .cart-checkbox {
            display: block;
            width: 20px;
            height: 20px;
            margin: 0 auto;
            background: url(/../../Content/images/shp-cart-icon-sprites.png?a=3) no-repeat 0 0;
            background-size: 50px 100px;
           }
           
           .cart-item-core {
            min-height: 60px;
            }
            .cart-product-cell-3 {
                width: 80px;
                position: absolute;
                right: 0;
                background: rgba(255,255,255,1);
                white-space: nowrap;
                margin-right: 10px;
                text-align: right;
                margin-top: -2px;
            }
            .cart-item-price {
                font-size: 13px;
                color: #555;
            }
            .cart-product-cell-1, .cart-product-cell-additional {
                width: 70px;
                height: 70px;
                display: block;
                float: left;
            }
            a {
            color: #000;
            text-decoration: none;
            }
            
            .cart-photo-thumb {
            width: 59px;
            height: 59px;
            border: 1px solid #dddcdc;
            background: url('/images/cart/error-jd.gif') no-repeat center center;
            background-size: 25px 10px;
            }
            img, img a {
            border: 0;
            vertical-align: middle;
            }
            
            .cart-product-cell-2 {
            min-width: 118px;
            width: 40%;
            float: left;
            }
            
            .cart-product-name {
            font-size: 13px;
            line-height: 1.2em;
            color: #666;
            margin-bottom: 5px;
            vertical-align: top;
            height: 2.4em;
            }
            .cart-quantity-wrapper {
            display: inline-block;
            }
            .cart-quantity-decrease.disabled, .quantity-increase.disabled {
            background-color: #e8e8e8;
            color: #999;
            background-position: 10px -45px;
            }
            .cart-quantity-decrease {
            -webkit-border-radius: 2px 0 0 2px;
            background-position: 10px -20px;
            }
            .cart-quantity-decrease, .quantity-increase {
                background: #fff;
                border: 1px solid #ccc;
                color: #666;
                display: block;
                line-height: 24px;
                width: 32px;
                overflow: hidden;
                text-indent: -200px;
                background: url(../../Content/images/shp-cart-icon-sprites.png?a=3) no-repeat -15px -20px;
                background-size: 50px 100px;
             }
             .cart-quantity-decrease, .quantity, .quantity-increase {
                float: left;
                font-size: 14px;
                text-align: center;
             }
             .quantity {
                color: #333;
                border: solid #ccc;
                border-width: 1px 0 1px 0;
                height: 24px;
                width: 32px;
                border-radius: 0;
             }
             body, input, textarea, select, button, table {
                font-size: 16px;
                line-height: 1.25em;
             }
             
             body, p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, th, td, form, fieldset, legend, input, textarea, button, select {
                margin: 0;
                padding: 0;
             }
             input, textarea, keygen, select, button, meter, progress {
                -webkit-writing-mode: horizontal-tb;
             }
             .quantity-increase {
            -webkit-border-radius: 0 2px 2px 0;
            }
            .cart-icon-remove {
                display: inline-block;
                background: url('../../Content/images/icon-shp-cart-remove.png') no-repeat 0 0;
                background-size: 50px 50px;
                width: 23px;
                height: 23px;
                position: absolute;
                right: 0;
                margin-right: 15px;
                text-indent: -1000px;
                overflow: hidden;
                cursor: pointer;
            }
            
            .items .cart-diver-hr-dashed {
            margin-left: 0;
            }
            .cart-diver-hr-dashed {
            height: 1px;
            overflow: hidden;
            clear: both;
            border-width: 0 0 1px 0;
            -webkit-border-image: url("data:image/png;base64,R0lGODlhBgAEAIABANfW2v///yH/C1hNUCBEYXRhWE1QPD94cGFj…ZGBcWFRQTEhEQDw4NDAsKCQgHBgUEAwIBAAAh+QQBAAABACwAAAAABgAEAAACBoSDqWuQBQA7") 2 0 repeat;
           }
       </style>
       <style type="text/css">
           
          .payment-total-bar {
            width: 100%;
            height: 50px;
            overflow: hidden;
            position: fixed;
            background: #eaedf1;
            bottom: 0;
          }  
          .shp-chk {
            width: 38px;
            float: left;
            text-align: center;
            overflow: hidden;
            padding-top: 15px;
          } 
          .shp-cart-info {
            display: block;
            float: left;
            min-width: 200px;
            margin-top: 3px;
          }
          .payment-total-bar strong, .shp-cart-total span {
            color: #e4393c;
            font-size: 14px;
            font-weight: normal;
            } 
            .shp-cart-total {
            margin-top: 6px;
            display: block;
          } 
          
          .payment-total-bar strong, .shp-cart-total span {
            color: #e4393c;
            font-size: 14px;
            font-weight: normal;
          }
         .payment-total-bar span {
            color: #999;
            font-size: 10px;
          }   
         .btn-right-block {
            display: block;
            width: 70px;
            padding: 0 8px;
            line-height: 50px;
            text-align: center;
            background: #e4393c;
            color: #fff;
            font-size: 14px;
            float: right;
            font-weight: normal;
            position: absolute;
            right: 0;
          }
       </style> 
    </head>
    <body>
        <a name="top"></a>
        <header>
            <div class='i-bh-header'>
                <a href="javascript:void(0);" class="i-a-back"><span>返回</span></a>
                <h2>购物车</h2>
                <a href="javascript:void(0);" class="i-a-bh"><span>易购键</span></a>
            </div>
            <div class='i-bh-tab'>
                <div class='i-tbl-type'>
                    <a href='#' class='i-tbl-cell'>
                        <span></span>
                        <p style='color:#6e6e6e;'>首页</p>
                    </a>
                    <a href='#' class='i-tbl-cell'>
                        <span style='width:26px;background-position:0 -25px;'></span>
                        <p style='color:#6e6e6e;'>分类搜索</p>
                    </a>
                    <a href='#' class='i-tbl-cell'>
                        <span style='width:25px;background-position:-29px -25px'></span>
                        <p style='color:#6e6e6e;'>购物车</p>
                    </a>
                    <a href='#' class='i-tbl-cell'>
                        <span style='width:22px;background-position:-85px -25px'></span>
                        <p style='color:#6e6e6e;'>我的易购</p>
                    </a>
                </div>
            </div>
        </header>
      

         <div id="notEmptyMyCart" style="display:block">
	          <ul class="cart-list">
            
              </ul>   
         </div>

        <div class="payment-total-bar" id="payment">
            <div class="shp-chk">
                <span onclick="checkAllProduct(this);" class="cart-checkbox checked"  id="checkIcon-1"></span>
            </div>
            <div class="shp-cart-info">
                <strong class="shp-cart-total">总计:￥<span class="" id="cart_realPrice">60.40</span></strong>
                <span class="sale-off">商品总额:￥<span class="bottom-bar-price" id="cart_oriPrice">60.40</span> 返现:￥<span class="bottom-bar-price" id="cart_rePrice">0.00</span></span>
            </div>
             <a class="btn-right-block" id="submit" style="background: rgb(192, 0, 0);">结算(<span id="checkedNum"> 1 </span>)</a>
       </div>

       <div style="display:none">
          <input type="hidden" id="cid" value="@ViewData["cid"]" />
        
      </div>
    </body>

</html>
