<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <script src="../Scripts/qsm-mui/iscroll.js" type="text/javascript"></script>
        <script src="../Scripts/qsm-mui/iscroll.js" type="text/javascript"></script>
        <script src="../Scripts/qsm-mui/zepto-1.1.4.min.js" type="text/javascript"></script>
        <script src="../Scripts/qsm-mui/fx.js" type="text/javascript"></script>
        <script src="../Scripts/qsm-mui/zepto.selector.js" type="text/javascript"></script>
        <script src="../Scripts/qsm-mui/zepto.touch.js" type="text/javascript"></script>
        <link href="Catalog.css" rel="stylesheet" type="text/css" />
        <script type="text/javascript">
            var myScroll;
            $(document).ready(function () {
                $("#wrapper").css('top', $("header").height());
                myScroll = new IScroll('#wrapper', { mouseWheel: true });
                document.addEventListener('touchmove', function (e) { e.preventDefault(); }, false);
                $(".bt-category-lst .bt-category-a").on($.clickAction, function () {
                    var $el = $(this);
                    if (!$el.hasClass("bt-on")) {
                        //先隐藏其他列 
                        $(".bt-category-lst .bt-category-a.bt-on").removeClass("bt-on").siblings().hide();
                        $el.addClass("bt-on").siblings().show();
                    }
                    else {
                        $el.removeClass("bt-on").siblings().hide();
                    }
                    myScroll.refresh();
                });
            });
            widthchange = function () {
                $("#wrapper").css('top', $("header").height());
            };
        </script>
    </head>
    <body>
    <header>
        <div class='i-bh-header'>
        <a href="javascript:void(0);" class="i-a-back"><span>返回</span></a>
        <h2>商品分类</h2>
        <a href="javascript:void(0);" class="i-a-bh"><span>易购键</span></a>
    </div>
        <div class='i-bh-tab'>
        <div class='i-tbl-type'>
            <a href='Home/Index' class='i-tbl-cell'>
                <span></span>
                <p style='color:#6e6e6e;'>首页</p>
            </a>
            <a href='#' class='i-tbl-cell'>
                <span style='width:26px;background-position:0 -25px;'></span>
                <p style='color:#6e6e6e;'>分类搜索</p>
            </a>
            <a href='/Cart/Index' class='i-tbl-cell'>
                <span style='width:25px;background-position:-29px -25px'></span>
                <p style='color:#6e6e6e;'>购物车</p>
            </a>
            <a href='/User/Home' class='i-tbl-cell'>
                <span style='width:22px;background-position:-85px -25px'></span>
                <p style='color:#6e6e6e;'>我的易购</p>
            </a>
        </div>
    </div>
    </header>
        <div id="wrapper">
	        <div id="scroller" class="bt-category">
                <ul class="bt-category-lst">
                    <vt:function var="data" method="GetLevel1Catalog" name="给商品一级分类" v="1" />
                    <vt:foreach item="catalog1" from="$data" index="i">
                     <li class="bt-category-li">
    			        <a href="javascript:void(0)" id="{$catalog1.Id}" class="bt-category-a"><span class="icon"></span>{$catalog1.Name}</a>
                         <ul class="bt-category2-lst" id="category{$catalog1.Id}" style="display:none;">
                            <vt:set var="isTrue" value="false" />
                            <vt:function var="data1" method="GetLevel2Catalog" name="给商品二级分类" v="1" />
                            <vt:foreach item="catalog2" from="$data1" index="j">
                                <vt:expression var="r" args="$j"  expression="{0}%3" />
                                <vt:if var="r" value="1" compare="=">
                                    <vt:set var="isTrue" value="0" />
                                    <li class="bt-category2-li">
                                    <a href="/products/1318-1462-000.html" class="bt-category2-a"><span class="bt-bar"></span>{$catalog2.Name}</a>
                                     <vt:set var="isTrue" value="0" />
                                <vt:elseif value="2">
                                        <a href="/products/1318-1462-000.html" class="bt-category2-a"><span class="bt-bar"></span>{$catalog2.Name}</a>
                                         <vt:set var="isTrue" value="1" />
                                <vt:else>
                                    <a href="/products/1318-1462-000.html" class="bt-category2-a"><span class="bt-bar"></span>{$catalog2.Name}</a>
                                    </li>
                                    <vt:set var="isTrue" value="2" />
                                </vt:if>
                              
                                  
                            </vt:foreach>
                            
                            <vt:if var="isTrue" value="0">
                                <a href="#" class="bt-category2-a"><span class="bt-bar"></span></a>
                                <a href="#" class="bt-category2-a"><span class="bt-bar"></span></a>
                                </li>
                            <vt:elseif value="1">
                                 <a href="#" class="bt-category2-a"><span class="bt-bar"></span></a>
                                 </li>
                            <vt:else>
                            </vt:if>
                        </ul>
                    </li>
                    </vt:foreach>
                </ul>
            </div>
        </div>
        <script type="text/javascript">
    var widthchange;
    $(document).ready(function () {
        $('.i-a-bh').on($.clickAction, function () {
            var tg = $('.i-bh-tab');
            if (tg.hasClass('on')) {
                tg.removeClass('on');
            }
            else {
                tg.addClass('on');
            }
            if (widthchange != undefined && typeof (widthchange) == "function") widthchange();
        });
        $('.i-a-back').on($.clickAction, function () { window.history.back(-1); });
    });
</script>
</body>
     
   
</html>
