@{
    Layout = null;
}
<!DOCTYPE html">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <link href="../../Content/Header.css" rel="stylesheet" type="text/css" />

        <script src="../../Scripts/qsm-mui/zepto-1.1.4.min.js" type="text/javascript"></script>
        <script src="../../Scripts/qsm-mui/zepto.selector.js" type="text/javascript"></script>
        <script src="../../Scripts/qsm-mui/zepto.touch.js" type="text/javascript"></script>
        <script src="../../Scripts/qsm-mui/fx.js" type="text/javascript"></script>
        <script src="../../Scripts/JsExtend.js" type="text/javascript"></script>
        
        <style type="text/css">
        body {
        font-size: 1em;
        font-family: 'microsoft yahei',Verdana,Arial,Helvetica,sans-serif;
        color: #000;
        -webkit-text-size-adjust: none;
        }
        
      
       
            .menu-list {
                padding: 5px;
                margin: 5px;
                background-color: #FFF;
                overflow: hidden;
            }  
            ol, ul {
                list-style: none;
             } 
             html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
                margin: 0;
                padding: 0;
                border: 0;
                font-size: 100%;
                font: inherit;
                vertical-align: baseline;
            }
            .menu-list li {
                float: left;
                width: 33%;                
                text-align: center;
                margin-top: 10px;
            }
            .menu-list li a {
                display: block;
                width: 100%;
                text-decoration: none;
            }
            a, button, input {
                outline: 0 none;
                text-decoration: none;
            }
            a {
                color: #000;
                text-decoration: none;
            }
            .menu-list li a img {
                width: 2.5em;
                height: 2.5em;
                display: block;
                margin: 0 auto .75em;
            }
            img {
                border: 0 none;
                vertical-align: bottom;
                -ms-interpolation-mode: bicubic;
            }
        </style>
        <script type="text/javascript">
            $(document).ready(function () {
                LoadData();
            });

            var LoadData = function () {
                $.ajax({
                    url: "/Home/GetFunctionList",
                    data: {},
                    type: "POST",
                    dataType: "JSON",
                    success: function (d) {
                        if (d) {
                            var divs = CreateHtmlData(d);
                            $("#functionList").html("");
                            $("#functionList").html(divs);
                        }
                        else {
                            alert("返回数据失败！");
                        }
                    },
                    error: function (s) {
                        alert("请求数据失败！");
                    }
                });
            };
            var CreateHtmlData = function (data) {
                var cssClassName = "link defaultlink";
                var obj = eval('(' + data + ')');
                var divStr = "";
                var rowCount = obj.length;
                for (var i = 0; i < rowCount; i++) {
                    divStr += GetHtml(obj[i], cssClassName);
                }
                var remainder = rowCount % 3;
                var emptyLiCount = 3 - remainder;
                if (emptyLiCount != 0) {
                    divStr = divStr + GetEmptyLi(emptyLiCount);
                }
                return divStr;
            }

            var GetHtml = function (obj, cssClassName) {
                var functionName = obj["FunctionName"] == null ? "" : obj["FunctionName"];
                var functionUrl = obj["FunctionUrl"];
                var imageUrl=obj["ImgUrl"];

                //                var divs = '<li>'
                //			               + ' <a class="{2}" href="{1}">'
                //				           + '     {0}'
                //				           + ' </a>'
                //		                   + '</li> ';
                var divs = '<li>'
            	           +'    <a href="{0}">'
    				       +'        <img src="{2}" alt="">'
            		       +'        <p>{1}</p>'
            	           +'    </a>'
                           +'</li>';
                return divs.format(functionUrl, functionName,imageUrl);
            };

            var GetEmptyLi = function (iCount) {
                var liStr = "";
                for (var i = 0; i < iCount; i++) {
                    liStr += "<li></li>";
                }
                return liStr;
            }

        </script>
    </head>
    <body>
        @Html.Partial("_HeaderTypical", new ViewDataDictionary { { "title", "功能" } })
       

        <div class="shortcut-navs">

          <ul class="menu-list" id="functionList">
               
		  </ul>

        </div>
        @*@Html.Partial("_FooterTypical")*@
    </body>

</html>
