@{
    Layout = null;
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        
        <script src="../../Scripts/qsm-mui/zepto-1.1.4.min.js" type="text/javascript"></script>
        <script src="../../Scripts/qsm-mui/fx.js" type="text/javascript"></script>
        <script src="../../Scripts/qsm-mui/zepto.selector.js" type="text/javascript"></script>
        <script src="../../Scripts/qsm-mui/zepto.touch.js" type="text/javascript"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                //非空验证
                $('#frm_logon').bind('submit', function (e) {
                    if (!(checkUsername() && checkPassword())) {
                        e.preventDefault();
                    }
                });
                $('.i-a-bh').on($.clickAction, function () {
                    var tg = $('.i-bh-tab');
                    if (tg.hasClass('on')) {
                        tg.removeClass('on');
                    }
                    else {
                        tg.addClass('on');
                    }
                });
                $('.i-a-back').on($.clickAction, function () {
                    window.history.back(-1); 
                });
                $('.s-ck').on($.clickAction, function () {
                    if ($(this).hasClass('on')) {
                        $(this).removeClass('on');
                    }
                    else {
                        $(this).addClass('on');
                    }
                });
                $('#loginsub').on($.clickAction, function () {
                    $('#frm_logon').submit();
                });
                $('#username').on('focus', function () {
                    
                    $("#error").hide();
                    $("#err").hide();
                });

                $('#password').on('focus', function () {
                    $("#error").hide();
                    $("#err").hide();
                });
            });
            function checkUsername() {
                var username = $("#username").val().trim();
                if (username == "") {
                    if (true) {
                        $("#err").html("\u8d26\u6237\u540d\u4e0d\u80fd\u4e3a\u7a7a");
                        $("#err").show();
                    } else {
                        $("#error").html("\u8d26\u6237\u540d\u4e0d\u80fd\u4e3a\u7a7a");
                        $("#error").show();
                    }
                    return false;
                }
                return true;
            }

            function checkPassword() {
                var password = $("#password").val().trim();
                if (password == "") {
                    if (true) {
                        $("#err").html("\u5bc6\u7801\u4e0d\u80fd\u4e3a\u7a7a");
                        $("#err").show();
                    } else {
                        $("#error").html("\u5bc6\u7801\u4e0d\u80fd\u4e3a\u7a7a");
                        $("#error").show();
                    }
                    return false;
                }
                return true;
            }

            
	
        </script>
        <style type="text/css">
            @@font-face
            {
        	    font-family:icons;
        	    src:url(../Scripts/qsm-mui/iconfont_141111.ttf) format('truetype');
        	    font-weight:400;
        	    font-style:normal;
            }
            *
            {
            	margin:0;
            	padding:0;
            }
            a
            {
            	text-decoration:none;
            }
            body
            {
            	line-height: 1.25em;
            	font-family: 'microsoft yahei',Verdana,Arial,Helvetica,sans-serif;
            }
            .i-bh-header
            {
                position: relative;
                height: 44px;
                background: #e4393c;
            }
            .i-bh-header h2 
            {
                height: 44px;
                line-height: 44px;
                font-weight: normal;
                font-size: 16px;
                color: #fff;
                text-align: center;
            }
            .i-a-back 
            {
                position: absolute;
                top: 6px;
                left: 6px;
                width: 30px;
                height: 32px;
            }
            .i-a-back span 
            {
                display: inline-block;
                width: 10px;
                height: 18px;
                margin-top: 6px;
                background: url(../Content/images/icon2b.png) -60px 0 no-repeat;
                background-size: 180px 180px;
                text-indent: -9999px;
            }
            .i-a-bh 
            {
                position: absolute;
                top: 6px;
                right: 12px;
                width: 37px;
                height: 30px;
            }
            .i-a-bh span 
            {
                display: inline-block;
                width: 21px;
                height: 21px;
                margin: 5px 0 0 13px;
                background: url(../Content/images/icon2b.png) -125px -24px no-repeat;
                background-size: 180px 180px;
                text-indent: -9999px;
            }
            .i-bh-tab
            {
                border-bottom: 1px solid #d0cece;
                background-color: #fff;
                display:none;
            }
            .i-bh-tab.on
            {
            	display:block;
            }
            .i-tbl-type 
            {
                display: table;
                width: 100%;
            }
            .i-bh-tab .i-tbl-cell 
            {
                width: 25%;
                padding: 9px 0;
                font-size: 12px;
                text-align: center;
                display: table-cell;
            }
            .i-bh-tab .i-tbl-cell span
            {
            	background: url(../Content/images/icon2b.png) -60px -25px no-repeat;
                background-size: 180px 180px;
                vertical-align: text-top;
                display: inline-block;
                width: 22px;
                height: 22px;
                color:#6e6e6e;
            }
            
            
            
           .new-ct 
            {
                min-height: 400px;
                background-color: #fafafa;
            }
            .logon-ct
            {
                padding: 20px 10px;
            }
            .new-ct input
            {
            	font-size: 16px;
                line-height: 1.25em;
            }
            .txt-err
            {
                display: block;
                font-size: 14px;
                color: #e4393c;
            }
            .logon-s
            {
            	border: 1px solid #ccc;
            	display: block;
            	margin-bottom: 15px;
            	height: 40px;
                border-top: 1px solid #9f9f9f;
                background: #fff;
            }
            .logon-input
            {
            	width: 100%;
                height: 40px;
                border: 0;
                border-radius: 0;
                background: #fff;
                font-size: 12px;
                line-height: 24px;
                font-weight: normal;
                color: #bdbdbd;
                text-indent: 10px;
                vertical-align: top;
                -webkit-appearance: none;
            }
            .a-txt
            {
            	display: block;
                padding-top: 10px;
                font-size: 14px;
                line-height: 20px;
                color: #666;
                text-decoration:none;
            }
            .s-ck.on
            {
            	
                background: url(../Content/images/icon_chk.png) 0 0 no-repeat;
                background-size: 18px 18px;
                
            }
            .s-ck
            {
            	display: inline-block;
                width: 18px;
                height: 18px;
                margin-right: 5px;
            	background: url(../Content/images/icon_chk2.png) 0 0 no-repeat;
                background-size: 18px 18px;
                vertical-align: middle;
            }
            .login-register 
            {
                padding: 10px;
            }
            .logon-tbl
            {
                display: table;
                width: 100%;
            }
            .logon-tbl-cell
            {
            	display: table-cell;
            	vertical-align: top;
            	padding: 3px 0;
            }
            .login-register a 
            {
                font-size: 14px;
                color: #333;
                text-decoration: underline;
            }
            .n-reg
            {
            	float: left;
            }
            .n-fb
            {
            	float: right;
            }
            .mgn 
            {
                margin: 15px 10px;
            }
            .new-abtn-type
            {
                display: block;
                padding: 8px;
                border-radius: 2px;
                background-color: #c00;
                font-size: 14px;
                color: #fff;
                text-align: center;
            }
            
            
            
            
            
            .i-footer 
            {
                margin-top: 20px;
                background-color: #f3f2f2;
                font-size: 14px;
                color: #6e6e6e;
                text-align: center;
            }
            .i-footer .i-f-login 
            {
                /*position: relative;*/
                padding: 0 12px;
                background-color: #a8a8a8;
                line-height: 27px;
                color: #fff;
                text-align: left;
                heigth: 27px;
            }
            .i-footer .i-f-login a 
            {
                color: #fff;
            }
            .i-footer .i-f-login .i-bar2 
            {
                margin: 0 5px;
            }
            .i-footer .i-f-login .i-back-top 
            {
                position: absolute;
                right: 12px;
            }
            .i-footer .i-f-section, .i-footer .i-f-section2 
            {
                padding: 10px 0;
            }
            .i-footer .i-f-section a:first-child 
            {
                margin-left: 0;
            }
            .i-footer .i-f-section a 
            {
                margin-left: 20px;
                color: #6e6e6e;
            }
            .i-footer .i-f-section .on 
            {
                color: #c30202;
            }
        </style>
    </head>
    <body>
        <a name="top"></a>
        <header>
            <div class='i-bh-header'>
                <a href="javascript:void(0);" class="i-a-back"><span>返回</span></a>
                <h2>登陆</h2>
                <a href="javascript:void(0);" class="i-a-bh"><span>易购键</span></a>
            </div>
            <div class='i-bh-tab'>
                <div class='i-tbl-type'>
                    <a href='#' class='i-tbl-cell'>
                        <span></span>
                        <p style='color:#6e6e6e;'>首页</p>
                    </a>
                    <a href='#' class='i-tbl-cell'>
                        <span style='width:26px;background-position:0 -25px;'></span>
                        <p style='color:#6e6e6e;'>分类搜索</p>
                    </a>
                    <a href='#' class='i-tbl-cell'>
                        <span style='width:25px;background-position:-29px -25px'></span>
                        <p style='color:#6e6e6e;'>购物车</p>
                    </a>
                    <a href='#' class='i-tbl-cell'>
                        <span style='width:22px;background-position:-85px -25px'></span>
                        <p style='color:#6e6e6e;'>我的易购</p>
                    </a>
                </div>
            </div>
        </header>
        <div class='new-ct logon'>
            <div class='logon-ct'>
                <div class='logon-info'>
                    <form action="/User/DoLogon" method="post" id="frm_logon">
    			        <input type="hidden" name="r-url" value="">
    			        <div class="txt-err" id="err" style="display:none;"></div> 
    			        <span class="logon-s">
                            <input type="text" value="" class="logon-input" name="username" id="username" placeholder="请输入用户名/邮箱/已验证手机">
                        </span>
                        <span class="logon-s">
                            <input type="password" value="" class="logon-input" name="password" id="password" placeholder="请输入密码">
                        </span>
				        <a class="a-txt" href="javascript:void(0);">
                            <span class="s-ck"></span>
    				        一个月内免登录
				        </a>
                		<a href="javascript:void(0);" id="loginsub" class="new-abtn-type mgn">登录</a>
    		         </form>
                     <div class="login-register">
                        <div class="logon-tbl">
                            <span class="logon-tbl-cell">
                                <a rel="nofollow" href="javascript:void(0);" class="n-reg">免费注册</a>
                        	</span>
                            <span class="logon-tbl-cell text-r">
                                <a href="javascript:void(0);" class="n-fb"> 找回密码</a>  
						    </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <div class='i-footer'>
                <div class='i-f-login'>
                    <a rel="nofollow" href='#'></a>
                    <span class="i-bar2" style='color:#a8a8a8'>|</span>
                    <a rel="nofollow" href="#"></a>
                    <span class="i-back-top">
                        <a href="javascript:void(0);">反馈</a>
                        <span class="i-bar2">|</span>
                        <a href="#top">回到顶部</a>
                    </span>
                </div>
                <div class="i-f-section">
                    <a href="#">标准版</a>
                    <a href="#" class="on">触屏版</a>
                    <a href="#" id="toPcHome">电脑版</a>
                </div>
                <div class="i-f-section2">Copyright © 2014-2015 baoth.com 版权所有</div>
            </div>
        </footer>
    </body>

</html>
