@{
    Layout = null;
}
<!DOCTYPE>
<style type="text/css">
.u-file-btn    
{
    position: relative; 
    direction:ltr; 
    height:18px;          
    line-height:18px;  
    margin-right:10px; 
    padding:3px0;          
    text-align: center;  
    width:105px; 
    background:#880000; 
    color:#FFF;
}
.u-file-btn input         
{
    cursor: pointer; 
    text-align: right; 
    z-index:10;          
    position: absolute; 
    top:0px; 
    right:0px; 
    opacity:0.5; 
    filter:Alpha(opacity:50);
}
</style>
<div class="u-file-c u-file-btn"> <input type="file"name="attach"/>请选择上传文件 </div>       
