@{
    Layout = null;
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />

        <script src=@Url.Content("../../Scripts/qsm-mui/iscroll.js") type="text/javascript"></script>
        <script src=@Url.Content("../../Scripts/qsm-mui/zepto-1.1.4.min.js") type="text/javascript"></script>
        <script src=@Url.Content("../../Scripts/qsm-mui/fx.js") type="text/javascript"></script>
        <script src=@Url.Content("../../Scripts/qsm-mui/zepto.selector.js") type="text/javascript"></script>
        <script src=@Url.Content("../../Scripts/qsm-mui/zepto.touch.js") type="text/javascript"></script>
        <script type="text/javascript">
            var myScroll;
            $(document).ready(function () {
                $("#wrapper").css('top', $("header").height());
                myScroll = new IScroll('#wrapper', { mouseWheel: true });
                document.addEventListener('touchmove', function (e) { e.preventDefault(); }, false);
                $(".bt-category-lst .bt-category-a").on($.clickAction, function () {
                    var $el = $(this);
                    if (!$el.hasClass("bt-on")) {
                        //先隐藏其他列 
                        $(".bt-category-lst .bt-category-a.bt-on").removeClass("bt-on").siblings().hide();
                        $el.addClass("bt-on").siblings().show();
                    }
                    else {
                        $el.removeClass("bt-on").siblings().hide();
                    }
                    myScroll.refresh();
                });
            });
            widthchange = function () {
                $("#wrapper").css('top', $("header").height());
            };
        </script>
         <link href==@Url.Content("../../Content/Shelves.css")  rel="stylesheet" type="text/css" />
    </head>
    <body>
        @Html.Partial("_HeaderTypical", new ViewDataDictionary { { "title", "商品分类" } })
        <div id="wrapper">
	        <div id="scroller" class="bt-category">
                <ul style="padding-bottom:32px">
                    <li class="info-detail">
                        <div class="info">
                            <a href="#">
                                <span class="text">图片库</span>
                            
                            </a>
                            <span class="menu-botton-arrow"></span>
                        </div>
                  
                    </li>
                    <li class="bg-skape"></li>
                    <li>
                        <div class="info">
                            <div class="info splitLine">
                            <a href="#">
                                <span class="text">商品描述</span>
                            </a>
                        </div>
                        <p class="detail-title" id="title"><span><textarea rows="3" cols="1" title="请填写描述" style="width: 90%;margin: 5px;"></textarea> </span></p></li>
                    <li class="bg-skape"></li>    
                    <li>
                        <div class="info">
                            <div class="info splitLine">
                                <a href="#">
                                    <span class="text">规格</span>
                                    <input type="text" style="width: 70%;line-height: 25px;margin-left: 20px;">
                                </a>
                            </div>
                             <div class="info splitLine">
                                <a href="#">
                                    <span class="text">价格</span>
                                    <input type="text" style="width: 70%;line-height: 25px;margin-left: 20px;">
                                </a>
                            </div>
                            <div class="info splitLine">
                                <a id="addcart" class="btn-shangjia"><span></span>上架</a>
                            </div>
                        </div>
                    </li>
                    <li class="bg-skape"></li>  
                    
                             
                </ul>
            </div>
        </div>
    </body>
    <style>
        #wrapper 
        {
	        position: absolute;
	        z-index: 1;
	        top: 90px;
	        bottom:0;
	        left: 0;
	        width: 100%;
	        background: #fff;
	        overflow: hidden;
        }
        #scroller 
        {
	        position: absolute;
	        z-index: 100;
	        -webkit-tap-highlight-color: rgba(0,0,0,0);
	        width: 100%;
	        -webkit-transform: translateZ(0);
	        -moz-transform: translateZ(0);
	        -ms-transform: translateZ(0);
	        -o-transform: translateZ(0);
	        transform: translateZ(0);
	        -webkit-touch-callout: none;
	        -webkit-user-select: none;
	        -moz-user-select: none;
	        -ms-user-select: none;
	        user-select: none;
	        -webkit-text-size-adjust: none;
	        -moz-text-size-adjust: none;
	        -ms-text-size-adjust: none;
	        -o-text-size-adjust: none;
	        text-size-adjust: none;
        }
        .bt-category-lst 
        {
	        list-style: none;
	        padding: 0;
	        margin: 0;
	        width: 100%;
	        text-align: left;
        }
        .bt-category .bt-category-lst .bt-category-li .bt-category-a.bt-on {
            background: url(../../Content/images/icon.png) 98% -893px no-repeat;
        }
        .bt-category .bt-category-lst .bt-category-li .bt-category-a {
            display: block;
            padding: 11px 13px 10px;
            background: url(../../Content/images/icon.png) 98% -839px no-repeat;
            font-size: 14px;
            color: #6e6e6e;
        }
        .bt-category .bt-category-lst .bt-category-li .bt-category-a, .bt-category .bt-category2-lst .bt-category2-li .bt-category2-a {
            border-bottom: 1px solid #ded6c9;
        }
        .bt-category .bt-category-lst .bt-category-li .bt-category-a .icon {
            display: inline-block;
            width: 7px;
            height: 7px;
            margin: 0 5px 2px 0;
            border-radius: 7px;
            background-color: #e4393c;
        }
        .bt-category .bt-category2-lst {
            background-color: #fff;
        }
        .bt-category .bt-category2-lst .bt-category2-li {
            display: table;
            width: 100%;
        }
        .bt-category .bt-category2-lst .bt-category2-li .bt-category2-a {
            display: table-cell;
            width: 33.9%;
            padding: 10px 0;
            font-size: .75em;
            color: #6e6e6e;
            text-align: center;
        }
        .bt-category .bt-category2-lst .bt-category2-li .bt-category2-a {
            border-top: 1px solid #fff;
        }
        .bt-category .bt-category-lst .bt-category-li .bt-category-a, .bt-category .bt-category2-lst .bt-category2-li .bt-category2-a {
            border-bottom: 1px solid #ded6c9;
        }
        a {
            color: #000;
            text-decoration: none;
        }
        .bt-category .bt-category2-lst .bt-category2-li .bt-category2-a:first-child .bt-bar {
            border: none;
            background: none;
        }
        .bt-category .bt-category2-lst .bt-category2-li .bt-category2-a .bt-bar {
            float: left;
            width: 1px;
            height: 12px;
            margin-top: 3px;
            border-bottom: 1px solid #fff;
            background-color: #ded6c9;
            vertical-align: middle;
        }
    </style>
</html>
