@{
    Layout = null;
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />

        <script src="../../Scripts/qsm-mui/zepto-1.1.4.min.js" type="text/javascript"></script>
        <script src="../../Scripts/qsm-mui/fx.js" type="text/javascript"></script>
        <script src="../../Scripts/qsm-mui/zepto.selector.js" type="text/javascript"></script>
        <script src="../../Scripts/qsm-mui/zepto.touch.js" type="text/javascript"></script>      

        <script type="text/javascript">
          
        </script>
        <style type="text/css">
            * {
                margin: 0;
                padding: 0;
            }
          body, p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, th, td, form, fieldset, legend, input, textarea, button, select {
            margin: 0;
            padding: 0;
          }
          .new-ct {
                min-height: 300px;
                background-color: #fff;
           }
           .title {
                padding: 13px 10px 7px;
                border-bottom: 1px solid #c8c7cc;
                background: #f1f1f5;
                font-size: 14px;
                color: #666;
            }
            .shouhuo .info-list {
                padding-bottom: 20px;
            }
            .info-list {
                padding-left: 10px;
                border-bottom: 1px solid #c8c7cc;
            }
            .shouhuo .pd {
                padding: 5px 10px 4px;
            }
            .info {
                position: relative;
                border-bottom: 1px solid #c8c7cc;
            }
            .tbl-type {
                display: table;
                width: 100%;
            }
            .shouhuo .tbl-cell {
                vertical-align: middle;
            }
            .w80 {
                width: 90px;
            }
            .tbl-cell {
                display: table-cell;
            }
            .shouhuo .tbl-cell:first-child span {
                font-size: 14px;
                color: #999;
            }
            .tbl-cell {
                display: table-cell;
            }
            .shouhuo .tbl-cell:last-child span {
                font-size: 14px;
                color: #333;
            }
            .shouhuo .new-input {
                font-size: 14px;
                font-family: '微软雅黑';
                color: #333;
            }
            .new-input {
                width: 100%;
                height: 30px;
                border: 0;
                border-radius: 0;
                background: #fff;
                font-size: 12px;
                line-height: 24px;
                font-weight: normal;
                color: #bdbdbd;
                text-indent: 10px;
                vertical-align: top;
                -webkit-appearance: none;
            }
            .w50 {
                 width: 50px;
            }
           .shouhuo .new-input-span {
                border: none;
            }
            .new-input-span {
                display: block;
                height: 30px;
                border: 1px solid #ccc;
            }
            .shouhuo .new-sel-box {
                width: 100%;
                height: 30px;
                margin-left: 0;
                border: 0;
                line-height: 30px;
                font-size: 12px;
                text-indent: 10px;
            }
            .new-p-re {
                position: relative;
            }
            .shouhuo .new-sel-box .new-select {
                 height: 30px;
            }
            .new-select {
                position: absolute;
                top: 0;
                left: 0;
                z-index: 10;
                width: 100%;
                height: 30px;
                opacity: 0;
            }
            body, input, textarea, select, button, table {
                font-size: 16px;
                line-height: 1.25em;
            }
            option {
                padding: 3px;
                height: 24px;
                line-height: 24px;
            }
            .border-b-none {
                border-bottom: none;
            }
            .mgn {
                margin: 15px 10px;
            }
            .new-abtn-type, .new-abtn-type2, .new-abtn-type3, .new-abtn-type4 {
                display: block;
                padding: 8px;
                border-radius: 2px;
                background-color: #c00;
                font-size: 14px;
                color: #fff;
                text-align: center;
            }
            .w70 {
             width: 70px;
            }
            
           
        </style>
     
    </head>
    <body>
        @Html.Partial("_HeaderTypical", new ViewDataDictionary { { "title", "尺码编辑" } })
      
      <form action="updateAddress.action?sid=4776ad7142b83f39c5fa29a193641ea1" method="post" id="editAddressForm">
					   
        <div class="new-ct shouhuo">
            <div class="title">收货人地址</div>
             <div class="info-list">
            <div class="info pd">
        	<div class="tbl-type">
            	<span class="tbl-cell w80"><span>收货人姓名：</span></span>
                <span class="tbl-cell"><span><input type="text" maxlength="20" class="new-input" name="address.name" id="address_name" value="" style="width:100%;"></span></span>
            </div>
        </div>
            <div class="info pd" style="display:none" id="nameErrorMsg">
        	<div class="tbl-type">
            	<span class="tbl-cell w80"><span style="color:red">收货人姓名不能为空</span></span>
            </div>
        </div>
           
		    <div class="info pd">
        	<div class="tbl-type">
            	<span class="tbl-cell w50"><span>省份：</span></span>
                <span class="tbl-cell">                	
                    <span class="new-input-span">
                        <span class="new-sel-box new-p-re">
                            <label id="province_label">北京</label>
                            <select name="address.idProvince" id="address_province" class="new-select" style="width:200px;"><option selected="" id="option_add_1" value="1">北京</option><option id="option_add_2" value="2">上海</option><option id="option_add_3" value="3">天津</option><option id="option_add_4" value="4">重庆</option><option id="option_add_5" value="5">河北</option><option id="option_add_6" value="6">山西</option><option id="option_add_7" value="7">河南</option><option id="option_add_8" value="8">辽宁</option><option id="option_add_9" value="9">吉林</option><option id="option_add_10" value="10">黑龙江</option><option id="option_add_11" value="11">内蒙古</option><option id="option_add_12" value="12">江苏</option><option id="option_add_13" value="13">山东</option><option id="option_add_14" value="14">安徽</option><option id="option_add_15" value="15">浙江</option><option id="option_add_16" value="16">福建</option><option id="option_add_17" value="17">湖北</option><option id="option_add_18" value="18">湖南</option><option id="option_add_19" value="19">广东</option><option id="option_add_20" value="20">广西</option><option id="option_add_21" value="21">江西</option><option id="option_add_22" value="22">四川</option><option id="option_add_23" value="23">海南</option><option id="option_add_24" value="24">贵州</option><option id="option_add_25" value="25">云南</option><option id="option_add_26" value="26">西藏</option><option id="option_add_27" value="27">陕西</option><option id="option_add_28" value="28">甘肃</option><option id="option_add_29" value="29">青海</option><option id="option_add_30" value="30">宁夏</option><option id="option_add_31" value="31">新疆</option><option id="option_add_32" value="32">台湾</option><option id="option_add_42" value="42">香港</option><option id="option_add_43" value="43">澳门</option><option id="option_add_84" value="84">钓鱼岛</option></select>
                        </span>
                    </span>
                </span>
            </div>
        </div>        
           
            <div class="info border-b-none pd">
        	<div class="tbl-type">
            	<span class="tbl-cell w70"><span>地址信息：</span></span>
                <span class="tbl-cell"><span><label id="address_label"></label><textarea rows="2" style="height:auto;width:100%;" type="text" class="new-input" name="address.where" id="address_where"></textarea></span></span>
            </div>
        </div>
            </div>

			<div class="info pd" style="display:none" id="addressErrorMsg">
        	    <div class="tbl-type">
            	    <span class="tbl-cell w80"><span style="color:red">地址信息不能为空</span></span>
                </div>
            </div>
        <!--[D] 默认时加  new-abtn-default 把a标签换成span-->
        <a href="javascript:submitEditAddressForm()" class="new-abtn-type mgn">下一步</a>	
        </div>

        <script type="text/javascript">

    var submitEditAddressForm = function () {
        spinerShow();
        $("#editAddressForm").submit();
        spinerHide();
    }

    $(document).ready(function () {
        $("#editAddressForm").submit(validateSubmit);
        $("#address_province").change(citychange);
        $("#address_city").change(areachange);
        $("#address_area").change(townchange);
        $("#address_town").change(labelchange);
        $("#address_name").blur(validateName);
        $("#address_where").blur(validateWhere);
        $("#address_mobile").blur(validateAddressMobile);

        var type = $("#addresssType").val();
        if (type == 0) {
            idprovince = 1;
            provinceData(idprovince);
        } else if (type > 0 || type == -1) {
            getData(type, '', '', '', '', '', '1', '72', '2799', '0');
        }

        if ($("#parent1").text() != "" && $("#parent1").text() != null) {
            $("#backUrl").attr("href", "javascript:backListener('child1','parent1')");
        }
    });
    </script>
        </form>
      
        @Html.Partial("_FooterTypical")
    </body>

</html>
