
*
{
	-webkit-tap-highlight-color:transparent;
	font:12px/1.5em "微软雅黑", Helvetica, sans-serif;
	cursor:default;
}

.qsm-mui
{
	background-color: #fff;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	-webkit-transform: translate3d(100%, 0, 0);
	transform: translate3d(100%, 0, 0);
	-webkit-transition: -webkit-transform .2s cubic-bezier(0,0,0.25,1);
	transition: transform .2s cubic-bezier(0,0,0.25,1);
	/*display: none;*/
	margin: 0;
	padding: 0;
	font: 12px/1.5em "微软雅黑", Helvetica, sans-serif;
	list-style:none;
	-webkit-animation: qsmmuihide .2s;
}
.qsm-mui.show
{
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-animation: qsmmuishow .2s;
	display:block;
}
.qsm-mui header
{
	background-color: #f1f1f1;
	/*padding: 1em;*/
	text-align: center;
	font-size: 16px;
	position: relative;
	color: #666;
}
.qsm-mui header h1 {
	font-size: inherit;
	margin: 0;
	font-weight: 400;
	background:#c00;
	height:40px;
	line-height:40px;
	color:#fff;
}

.qsm-mui header .qsm-mui-menu.ok
{
	border-right: 1px solid #b2b2b2;
	left: 50px;
	color: #fff;
	font-family: icons!important;
	font-size: 21px;
	height: 30px;
	width: 30px;
}
.qsm-mui header .qsm-mui-menu.ok.down
{
	color:red;
}
.qsm-mui header .qsm-mui-menu.first
{
	border-right:1px solid #b2b2b2;
	font-family:icons!important;
	font-size:25px;
	line-height:30px;
	color:#fff;
}
.qsm-mui header .qsm-mui-menu.first.down
{
	color:red;
}
.qsm-mui header .qsm-mui-menu.more
{
	font-family:icons!important;
	font-size:25px;
	line-height:30px;
	right:15px;
	width:21px;
	height:21px;
	line-height:21px;
	top:9px;
	display:block;
	color:#fff;
}
.qsm-mui header .qsm-mui-menu.more.down
{
	color:red;
}
.qsm-mui header .qsm-mui-menu.up
{
	font-family:icons!important;
	font-size:20px;
	line-height:30px;
	right:15px;
	width:21px;
	height:21px;
	line-height:21px;
	top:9px;
	display:block;
	color:#fff;
}
.qsm-mui header .qsm-mui-menu.up.down
{
	color:red;
}
.qsm-mui header .qsm-mui-menu
{
	position: absolute;
	top: 5px;
	width: 40px;
	color: #666;
	display: -webkit-box;
	display: -ms-flexbox;
	-webkit-box-align: center;
	-ms-flex-align: center;
	text-decoration:none;
	height:30px;
}
.qsm-mui .footer {
	position: absolute;
	opacity:0.8;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 40px;
	background: #222;
	display:none;
	padding: 0;
	border-top: 1px solid #222;
}
.qsm-mui .wrapper 
{
	position: absolute;
	/*top: 82px;*/
	left: 0;
	width: 100%;
	height:100%;
	background: #ccc;
	overflow: hidden;
	z-index:inherit;
}
.qsm-mui .scroller 
{
	position: absolute;
	z-index:inherit;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	width: 100%;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
}
.qsm-mui .scroller ul {
	list-style: none;
	padding: 0;
	margin: 0;
	width: 100%;
	text-align: left;
}

.qsm-mui .scroller li.qsm-mui-dataitem {
	padding: 0 10px;
	height: 40px;
	line-height: 40px;
	border-bottom: 1px solid #ccc;
	/*border-top: 1px solid #fff;*/
	background-color: #fff;
	font-size: 14px;
	position:relative;
	-webkit-animation: moveleft .5s;
	font:12px/3.5em "微软雅黑", Helvetica, sans-serif;
}

.qsm-mui .scroller .qsm-morebar
{
	padding:0;
	border-bottom:0;
	border-top:0;
}
/*取消mobile浏览器去掉高亮边框*/
.qsm-mui input
{
    /*两个属性不能同时用，否则会有问题*/
    -webkit-tap-highlight-color:transparent; /*rgba(0,0,0,0); android 4.0以下*/ /*Overrides the highlight color shown when the user taps a link or a JavaScript clickable element in Safari on iPhone.*/
    /*-webkit-user-modify:read-write-plaintext-only;*/ /*android 4.0以上*/ /*作用是去掉输入框聚焦时候的白色背景*/
    font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	box-sizing: content-box;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	-ms-box-sizing: content-box;
	transition: none;
	-moz-transition: none;
	-o-transition: none;
	-webkit-transition: none;
	outline: none;
}
.qsm-mui .qsm-button
{
	display: block;
	height: 100%;
	line-height:inherit;
	font-size: 16px;
	font-weight: bold;
	cursor: pointer;
	color: #fff;
	background: #3f89ec;
	
	border: none;
	/*border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;*/
	transition: .3s;
	-moz-transition: .3s;
	-o-transition: .3s;
	-webkit-transition: .3s;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	background-color: #3f89ec;
	text-align:center;
	-webkit-appearance: none;
	box-sizing: content-box;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	-ms-box-sizing: content-box;
	background-image: none;
	width: 100%;
	font:12px/41px "微软雅黑", Helvetica, sans-serif;
}
.qsm-mui .qsm-up-button
{
	height:42px;
	line-height:42px;
	display:none;
}
.qsm-mui .qsm-up-button.show
{
	display:block;
}
.qsm-mui input[type='button'] 
{
	-webkit-appearance: none;
	box-sizing: content-box;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	-ms-box-sizing: content-box;
	background-image: none;
	width: 100%;
}
.qsm-mui .scroller .qsm-mui-autorefresh
{
	background:#ccc;
	padding:0;
}
.qsm-mui .scroller .qsm-mui-more-button
{
	display:none;
	padding:0 0;
}
.qsm-mui .qsm-mui-more-button.show
{
	display:block;
}

.qsm-mui .qsm-mui-scl-l 
{
	display: block;
	position: absolute;
	top: 48px;
	right: 5%;
	width: 24px;
	height: 24px;
	
	font-family:icons!important;
	font-size:24px;
	line-height:24px;
}
.qsm-mui .qsm-mui-scl-l.down
{
	color:red;
}

.qsm-mui .qsm-mui-scl-t 
{
	-webkit-tap-highlight-color: transparent;
	/* -webkit-user-modify: read-write-plaintext-only; */
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	box-sizing: content-box;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	-ms-box-sizing: content-box;
	transition: none;
	-moz-transition: none;
	-o-transition: none;
	-webkit-transition: none;
	outline: none;
	display: block;
	position: relative;
	height: 16px;
	padding: 12px 0px 12px 0px;
	border: 1px solid #ddd;
	font-size: 14px;
	color: #666;
	transition: .3s;
	-moz-transition: .3s;
	-o-transition: .3s;
	-webkit-transition: .3s;
	padding-left: 1%;
	padding-right:15%;
	width: 85%;
}

.qsm-mui .qsm-mui-dataitem.qsm-md
{
	background:#ccc;
}

.qsm-mui .qsm-next:before 
{
    content: "";
    float: right;
    font-family:icons!important;
    font-size:7px;
    width: 7px;
    height: 2em;
    margin-left: .9em;
}


.qsm-mui .qsm-panel-content
{
	border:0;
	margin:0;
	padding:0;
	position:relative;
	display:block;
	-webkit-animation: moveleft .5s;
}


.qsm-slide
{
    float: right;
    position: relative;
    width: 54px;
    height: 28px;
    -webkit-box-shadow: 0 0 0 1px #b2b2b2 inset,0 1px 0 1px #fff;
    background-color: #c7c7c7;
}
.qsm-slide::after
{
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: 26px;
    height: 22px;
    -webkit-box-shadow: 0 1px 0 1px #b2b2b2;
    background-color: #fff;
}
.qsm-slide.on 
{
    -webkit-box-shadow: 0 0 0 1px #16a74d inset,0 1px 0 1px #fff;
    background-color: #1bc059;
}
.qsm-slide.on::after
{
    left: 25px;
    -webkit-box-shadow: 0 1px 0 1px #16a74d;
}



.qsm-mui-status
{
	position: absolute;
	z-index: 2;
	bottom: 0;
	left: 0;
	width: 100%;
	background: #fff;
	padding: 0;
	border-top: 1px solid #f8f8f8;
	opacity:1;
	-webkit-box-shadow:0px 1px 3px;
}
.qsm-mui-status .lbs-list 
{
	margin-top: 5px;
	margin-bottom: 5px;
	margin:0;
	padding:0;
}
.qsm-mui-status .lbs-list ul
{
	list-style:none;
}
.qsm-mui-status .lbs-list li {
	display:inline-block;
	text-align:center;
}

.qsm-mui-status .lbs-list .ct.down {
	background:#ccc;
}
.qsm-mui-status .lbs-list .ct {
	/*padding: 0 10px;*/
	display:inline-block;
	color: #262626;
	text-decoration: none;
	text-align:center;
	width:100%;
}
.qsm-mui-status .lbs-list .icon
{
	position: relative;
    /*background-color: #f09965;*/
    width: 42px;
	height: 17px;
	border-radius: 21px;
	margin: 0 auto;
}
.qsm-mui-status .lbs-list .icon span
{
	font-family: icons!important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: .2px;
    font-size: 24px;
	line-height: 24px;
	position: absolute;
	left: 8px;
	top: 8px;
	color: #222;
}
.qsm-mui-status .lbs-list p 
{
	/*height: 18px;
	line-height: 18px;
	font-size: 14px;*/
	height:5px;
}


.qsm-mui-pop .dw-persp
{
	left:0;
	z-index:99998;
}
.qsm-mui-pop .dw-persp,.qsm-mui-pop .dwo
{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.qsm-mui-pop .dwo {
	z-index: 1;
	background: #000;
	background: rgba(0,0,0,.6);
	filter: Alpha(Opacity=70);
}
.qsm-mui-pop .dw {
	max-width: 100%;
	position:relative;
	margin:0 auto;
	z-index: 2;
	font-size: 12px;
	text-shadow: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-ms-touch-action: none;
	user-select: none;
	touch-action: none;
	backface-visibility:hidden;
	-webkit-tap-highlight-color:rgba(0, 0, 0, 0);
	background:#fff;
	width:240px;
	min-width:170px;
}
.qsm-mui-pop .dwtitle
{
	border-bottom: 2px solid #38f;
	padding:5px 0 5px 10px;
	font: 16px/1.5em "微软雅黑", Helvetica, sans-serif;
}
.qsm-mui-pop .dwtext
{
	padding:15px;
}
.qsm-mui-pop .dwtext-c
{
	font: 16px/1.5em "微软雅黑", Helvetica, sans-serif;
}
.qsm-mui-pop .dwbt
{
	text-align:center;
	border-top:1px solid #ccc;
}
.qsm-mui-pop .dwbt-item.cancel
{
	border-right:1px solid #ccc;
}
.qsm-mui-pop .dwbt-item
{
	width:41.4%;
	position:relative;
	display:inline-block;
	font:16px/1.5em "微软雅黑", Helvetica, sans-serif;
	padding:10px;
	background:#e4e4e4;
}
.qsm-mui-pop .dwbt-item.single
{
	width:100%;
	font:16px/1.5em "微软雅黑", Helvetica, sans-serif;
	padding:10px 0;
	background:#e4e4e4;
}
.qsm-mui-pop .dwbt-item.down
{
	background:#b5b5b5;
}






/* Safari 和 Chrome */
@-webkit-keyframes qsmmuishow 
{
	from{left: 100%;} 
	to {left: 0;}
}
/* Safari 和 Chrome */
@-webkit-keyframes qsmmuihide 
{
	from {left: 0;}
	to {left: 100%;}
}
/* Safari 和 Chrome */
@-webkit-keyframes moveleft 
{
	from {left: 1%;opacity:0;}
	to {left: 0;opacity:1;}
}
@-webkit-keyframes autorefresh 
{
	from {left: 1%;opacity:0;}
	to {left: 0;opacity:1;}
}
@font-face
{
    font-family:icons;
    /*src:url(iconfont_141111.eot);*/
    src:url(iconfont_141111.ttf) format('truetype');
    /*src:url(iconfont_141111.eot#iefix) format('embedded-opentype'),url(iconfont_141111.woff) format('woff'),url(iconfont_141111.ttf) format('truetype');*/
    font-weight:400;
    font-style:normal
}



@-webkit-keyframes fade {
    from {opacity: 1;}
    to {opacity: 0.25;}
}
.qsm-mui div.spinner {
    position: relative;
    width: 25px;
    height: 25px;
    margin:0 auto;
}
.qsm-mui div.spinner div {
    width: 20%;
    height: 40%;
    background: #000;
    position: absolute;
    left: 100%;
    top: 100%;
    opacity: 0;
    -webkit-animation: fade 1s linear infinite;
    -webkit-border-radius: 30px;
}
.qsm-mui div.spinner div.bar1 {
    -webkit-transform:rotate(0deg) translate(0, -142%);
        -webkit-animation-delay: 0s;
}
.qsm-mui div.spinner div.bar2 {
    -webkit-transform:rotate(30deg) translate(0, -142%);
        -webkit-animation-delay: -0.9167s;
}
.qsm-mui div.spinner div.bar3 {
    -webkit-transform:rotate(60deg) translate(0, -142%);
        -webkit-animation-delay: -0.833s;
}
.qsm-mui div.spinner div.bar4 {
-webkit-transform: rotate(90deg) translate(0, -142%);
-webkit-animation-delay: -0.75s;
}
.qsm-mui div.spinner div.bar5 {
-webkit-transform: rotate(120deg) translate(0, -142%);
-webkit-animation-delay: -0.667s;
}
.qsm-mui div.spinner div.bar6 {
-webkit-transform: rotate(150deg) translate(0, -142%);
-webkit-animation-delay: -0.5833s;
}
.qsm-mui div.spinner div.bar7 {
-webkit-transform: rotate(180deg) translate(0, -142%);
-webkit-animation-delay: -0.5s;
}
.qsm-mui div.spinner div.bar8 {
-webkit-transform: rotate(210deg) translate(0, -142%);
-webkit-animation-delay: -0.41667s;
}
.qsm-mui div.spinner div.bar9 {
-webkit-transform: rotate(240deg) translate(0, -142%);
-webkit-animation-delay: -0.333s;
}
.qsm-mui div.spinner div.bar10 {
-webkit-transform: rotate(270deg) translate(0, -142%);
-webkit-animation-delay: -0.25s;
}
.qsm-mui div.spinner div.bar11 {
-webkit-transform: rotate(300deg) translate(0, -142%);
-webkit-animation-delay: -0.1667s;
}
.qsm-mui div.spinner div.bar12 {
    -webkit-transform:rotate(330deg) translate(0, -142%); 
    -webkit-animation-delay: -0.0833s;
}