@{
    Layout = null;
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <link href="../../Content/Header.css" rel="stylesheet" type="text/css" />

        <script src="../../Scripts/JsExtend.js" type="text/javascript"></script>
        <script src="../../Scripts/qsm-mui/fx.js" type="text/javascript"></script>
        <script src="../../Scripts/qsm-mui/zepto-1.1.4.min.js" type="text/javascript"></script>
        <script src="../../Scripts/qsm-mui/zepto.selector.js" type="text/javascript"></script>
        <script src="../../Scripts/qsm-mui/zepto.touch.js" type="text/javascript"></script>
        
        <style type="text/css">
        body {
        min-width: 320px;
        font-size: 1em;
        font-family: 'microsoft yahei',Verdana,Arial,Helvetica,sans-serif;
        color: #000;
        -webkit-text-size-adjust: none;
        }
        
      
        </style>
        @*功能样式*@
        <style type="text/css">
            .shortcut-navs {
            font-size: 14px;
            }
            .shortcut-nav {
                width: 100%;
                display: block;
                height: 300px;
            }
            ul, ol {
            list-style: none;
            }
            .shortcut-nav:first-child li {
                border-bottom: 0;
            }
            .shortcut-nav li {
               
                background: #fff;
                text-align: left;
                width: 33%;
                overflow: hidden;                
                display: block;
                height: 70px;
                float:left;
               
            }
            .shortcut-nav * {
                -webkit-tap-highlight-color: rgba(0,0,0,0);
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                -ms-box-sizing: border-box;
                box-sizing: border-box;
            }
            
            .shortcut-nav .link {
                display: inline-block;
                width: 100%;
                float: left;
                margin-left: 20px;
                position: relative;
            }
            .link .tip_num {
                color: #fff;
                display: block;
                background: #e4393c;
                width: 16px;
                height: 16px;
                position: absolute;
                top: -1px;
                left: 16px;
                -webkit-border-radius: 9px;
                font-size: 10px;
                line-height: 17px;
                text-align: center;
            }
            a {
                color: #000;
                text-decoration: none;
                top: 15px;
            }
            .shortcut-nav .defaultlink:before {
                display: block;
                content: '';
                height: 25px;
                width: 25px;
                background: url(../../Content/images/shortcut-nav-icons.png) no-repeat;
                background-size: 223px 25px;
                background-position: -50px 0;
               margin-left: 10px;
            }
            
            .shortcut-nav .link1:before {
                display: block;
                content: '';
                height: 25px;
                width: 25px;
                background: url(../../Content/images/shortcut-nav-icons.png) no-repeat;
                background-size: 222px 25px;
                background-position: 0 0;
               margin-left: 10px;
            }
           .shortcut-nav .link2:before {
                display: block;
                content: '';
                height: 25px;
                width: 25px;
                background: url(../../Content/images/shortcut-nav-icons.png) no-repeat;
                background-size: 222px 25px;
                background-position: -25px 0;
               margin-left: 10px;
            }
            .shortcut-nav .link3:before {
                display: block;
                content: '';
                height: 25px;
                width: 25px;
                background: url(../../Content/images/shortcut-nav-icons.png) no-repeat;
                background-size: 223px 25px;
                background-position: -50px 0;
               margin-left: 10px;
            }
            .shortcut-nav .link5:before {
                display: block;
                content: '';
                height: 25px;
                width: 25px;
                background: url(../../Content/images/shortcut-nav-icons.png) no-repeat;
                background-size: 222px 25px;
                background-position: -123px 0;
               margin-left: 10px;
            }
            .shortcut-nav .link6:before {
                display: block;
                content: '';
                height: 25px;
                width: 25px;
                background: url(../../Content/images/shortcut-nav-icons.png) no-repeat;
                background-size: 221px 25px;
                background-position: -147px 0;
               margin-left: 10px;
            }
            .shortcut-nav .link7:before {
                display: block;
                content: '';
                height: 25px;
                width: 25px;
                background: url(../../Content/images/shortcut-nav-icons.png) no-repeat;
                background-size: 222px 25px;
                background-position: -172px 0;
               margin-left: 10px;
            }
            .shortcut-nav .link8:before {
                display: block;
                content: '';
                height: 25px;
                width: 25px;
                background: url(../../Content/images/shortcut-nav-icons.png) no-repeat;
                background-size: 222px 25px;
                background-position: -197px -1px;
                margin-left: 10px;
            }
        </style>
        <script type="text/javascript">
            $(document).ready(function () {
                LoadData();
            });

            var LoadData = function () {
                $.ajax({
                    url: "/Home/GetFunctionList",
                    data: {},
                    type: "POST",
                    dataType: "JSON",
                    success: function (d) {
                        if (d) {
                            var divs = CreateHtmlData(d);
                            $("#functionList").html("");
                            $("#functionList").html(divs);
                        }
                        else {
                            alert("返回数据失败！");
                        }
                    },
                    error: function (s) {
                        alert("请求数据失败！");
                    }
                });
            };
            var CreateHtmlData = function (data) {
                var cssClassName = "link defaultlink";
                var obj = eval('(' + data + ')');
                var divStr = "";
                var rowCount = obj.length;
                for (var i = 0; i < rowCount; i++) {
                    divStr += GetHtml(obj[i], cssClassName);
                }
                var remainder = rowCount % 3;
                var emptyLiCount = 3 - remainder;
                if (emptyLiCount != 0) {
                    divStr = divStr + GetEmptyLi(emptyLiCount);
                }
                return divStr;
            }

            var GetHtml = function (obj, cssClassName) {
                var functionName = obj["FunctionName"] == null ? "" : obj["FunctionName"];
                var functionUrl = obj["FunctionUrl"];

                var divs = '<li>'
			               + ' <a class="{2}" href="{1}">'
				           + '     {0}'
				           + ' </a>'
		                   + '</li> ';
                return divs.format(functionName, functionUrl, cssClassName);
            };

            var GetEmptyLi = function (iCount) {
                var liStr = "";
                for (var i = 0; i < iCount; i++) {
                    liStr += "<li></li>";
                }
                return liStr;
            }

        </script>
    </head>
    <body>
        @Html.Partial("_HeaderTypical", new ViewDataDictionary { { "title", "功能" } })
       

        <div class="shortcut-navs">

          <ul class="shortcut-nav" id="functionList">
            
		  </ul>

        </div>
        @Html.Partial("_FooterTypical")
    </body>

</html>
