@{
    Layout = null;
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
         <link href="../../Scripts/qsm-mui/qsmart-mui.css" rel="stylesheet" type="text/css" />

        <script src="../../Scripts/qsm-mui/zepto-1.1.4.min.js" type="text/javascript"></script>
        <script src="../../Scripts/qsm-mui/fx.js" type="text/javascript"></script>
        <script src="../../Scripts/qsm-mui/zepto.selector.js" type="text/javascript"></script>
        <script src="../../Scripts/qsm-mui/zepto.touch.js" type="text/javascript"></script>      
        <script src="../../Scripts/ImagePayer.js?r=111" type="text/javascript"></script>
        <script type="text/javascript">
            function GoWalk() {
            }
        </script>          
        <link href="../../Content/home/Layout.css" rel="stylesheet" type="text/css" />
        <link href="../../Content/home/Home.css" rel="stylesheet" type="text/css" />
        
        <style type="text/css">
        .half-floor {
        width: 50%;
        border-width: 0 1px 0 0;        
        float: left;
        margin-left: -1px;
        border-right: 1px solid #dadada;
        }
        
        .up-floor {
        margin-top: -1px;
        border-bottom: 1px solid #dadada;
        border-width: 0 0 1px 0;
        border-bottom:1px solid #dadada;
        }
        
        .down-floor{
        width: 49%;
        float: right;
        margin-top:2px;
        margin-left:1px;
        border-left: 1px solid #dadada;
        }
        
        .brand-up-floor {
        width: 50%;       
        float: left;
        margin-right: -1px;
        border-width: 0 0 0 1px;
        
        }
        
        .brand-half-floor {
        width: 50%;
        border-width: 0 0 1px 0;       
        float: left;
        border-bottom:1px solid #dadada;
        }
        </style>
      <script type="text/javascript">
          $(document).ready(function () {
              palyer.init.call(palyer);
              palyer.
              palyer.run.call(palyer);
     
          });
      </script> 
    </head>
    <body>
      
	
<div class="viewport">
         <OBJECT　classid="CLSID:8856F961-340A-11D0-A96B-00C04FD705A2"　　　id="wb"　name="wb"　></OBJECT>　 　　   
  
<input　type='button' style=" width:100px"　value='打印'　onclick='javascript:wb.ExecWB(6,1)'/>　　   
  
<input　type='button' style=" width:100px"　value='打印预览'　onclick='javascript:wb.ExecWB(7,1)'/>　　   
  
<input　type='button' style=" width:100px"　value='页面设置'　onclick='javascript:wb.ExecWB(8,1)'/> 
<header class="search-bar">
    <form id="searchForm" method="get" action="/ware/search.action">
        <div class="search-bar-tbl">
            <div class="search-bar-cell-1"><a href="javascript:void(0);" class="logo"></a></div>
            <div class="search-bar-cell-2">
                <div class="search-textfile">
                    <input value="" name="sid" type="hidden">
                    <a id="searchbtn" href="javascript:void(0);" class="btn-home-search"></a>
                    <input autocomplete="off" name="keyword" id="keyword" class="search-textfile-input">
                </div>
            </div>
           
        </div>
    </form>
</header>

<div id="searchSelect" class="history-wrap" style="z-index: 9;"></div>
<div class="floor slider-floor">
    <div id="slider" class="slider" style="overflow:hidden;width: 100%;">
        <ul id="slider_touch" style="font-size: 0px; width: 100%; height:150px; margin: 0px; padding: 0px; overflow: hidden; position: relative; -webkit-transition-property: left; transition-property: left; -webkit-transition-duration: 0.2s; transition-duration: 0.2s; -webkit-transition-timing-function: ease-in; transition-timing-function: ease-in;">
               <li>
             </li>
        </ul>

        <div id="serial-number" class="serial-number" style="z-index:1; ">
		  </div>
    </div>
	 <nav class="app-nav">
        <a href="/cart/index?sid=2522b1a01c942a1cb55c5a635f2cb57d" class="app-link shopping-cart">购物车</a>
        <a href="/chongzhi/index" class="app-link recharge">充值</a>
        <a href="../../Product/List.html" class="app-link lottery">分类</a>
        <a href="/user/home?sid=2522b1a01c942a1cb55c5a635f2cb57d" class="app-link my-jd">我的</a>
    </nav>
</div>
    	    	
    <div class="floor discount-floor">
            <h2 class="title">好货推荐</h2>
            <div class="discount">
                <a href="../../Product/1-1-1-4-1.html?v=@ViewData["V"]" class="discount-link half-floor">
                    <img src="http://test.nkwang.cn/Product/Images/n1/test/9b839728-d085-468e-acb8-88eb9eb008b8.jpg?v=@ViewData["V"]" alt=""  width="100%" border="0" class="brand-photo">
                </a>
                <a href="../../Product/1-1-3-4-1.html?v=@ViewData["V"]" class="discount-link up-floor">
                    <img src="http://test.nkwang.cn/Product/Images/n1/test/13586d56-2df9-45db-89a4-577a3e009c32.jpg?v=@ViewData["V"]" alt="" width="100%"  border="0" class="brand-photo">
                </a>
                <a href="../../Product/1-1-2-2-1.html?v=@ViewData["V"]" class="discount-link down-floor">
                    <img src="http://test.nkwang.cn/Product/Images/n1/test/66946b59-c0f8-4414-b777-f0c02c302c20.jpg?v=@ViewData["V"]" alt="" width="100%"  border="0" class="brand-photo">
                </a>
            </div>
      </div>		           
    		       	    	
  <div class="floor brand-floor">
        <h2 class="title">折扣专区</h2>
     
        <div class="brand">
           <a href="../../Product/1-1-4-2-1.html?v=@ViewData["V"]" class="brand-link brand-half-floor">                
                <img src="http://test.nkwang.cn/Product/Images/n1/test/7bb55525-349e-48ac-a581-4e1573c61de1.jpg?v=@ViewData["V"]" alt="" width="100%" border="0" class="brand-photo">
            </a>
            
            <a href="../../Product/1-1-2-3-1.html?v=@ViewData["V"]" class="brand-link down-floor">                
                <img src="http://test.nkwang.cn/Product/Images/n1/test/6247d865-17c9-401f-96c2-188b71b8351c.jpg?v=@ViewData["V"]" alt="" width="100%" border="0" class="brand-photo">
            </a>

            <a href="../../Product/1-1-5-2-1.html?v=@ViewData["V"]" class="brand-link brand-up-floor">                
                <img src="http://test.nkwang.cn/Product/Images/n1/test/189cb184-9559-4662-866e-550a17367a4d.jpg?v=@ViewData["V"]" alt="" width="100%" border="0" class="brand-photo">
            </a>

        </div>
 </div>

</div>
				

		
   @Html.Partial("_FooterTypical")
 </body>

</html>

<style type="text/css">
        #tabpages
        {
        	width: 100%;            
            height: 200px;           
            background:#ccc;
            text-align:center;
        }
        #tabpages span
        {
        	font-family:icons!important;
        	font-size:100px;
        }
        .tab-scroller1
        {
        	height:100%;
        }
        .tab-item,#tabpages ul
        {
        	background:#fff;
        }
  </style>
 <script type="text/javascript">
     $(document).ready(function () {
         $("#serial-number span").bind("click", function () {             
             var index = $(this).index();
             tab.jump(index);
             //添加样式
             $(this).addClass("selected").siblings().removeClass("selected");
         });
     });


     function dd(a) {
        // tab.jump(a);
         var span = $($("#serial-number span")[a]).addClass("selected").siblings().removeClass("selected");
     };
     var kk = 0;
     $('.ui-gotop').on('click', function () { document.tab.jump(kk); kk++; });

     $('#Span1').html('<img src="../../ProductImage/001/00001.jpg" style="width:100%;height:150px;"/>');
     $('#Span2').html('<img src="../../ProductImage/001/00002.jpg" style="width:100%;height:150px;"/>');
     $('#Span3').html('<img src="../../ProductImage/001/00003.jpg" style="width:100%;height:150px;"/>');
     $('#Span4').html('<img src="../../ProductImage/001/00004.jpg" style="width:100%;height:150px"/>');
     $('#Span5').html('<img src="../../ProductImage/001/00001.jpg" style="width:100%;height:150px;"/>');

 </script>
