@{
    Layout = null;
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
         <link href="../../Scripts/qsm-mui/qsmart-mui.css" rel="stylesheet" type="text/css" />

        <script src="../../Scripts/qsm-mui/zepto-1.1.4.min.js" type="text/javascript"></script>
        <script src="../../Scripts/qsm-mui/fx.js" type="text/javascript"></script>
        <script src="../../Scripts/qsm-mui/zepto.selector.js" type="text/javascript"></script>
        <script src="../../Scripts/qsm-mui/zepto.touch.js" type="text/javascript"></script>      

        <script src="../../Scripts/qsm-mui/qsmart-mui-tab-1.0.0.js" type="text/javascript"></script>
       
        <script type="text/javascript">
            function GoWalk() {
                window.location = window.location.origin + "/Product/1000000011/index.html";
            }
        </script>          
        <link href="../../Content/home/Layout.css" rel="stylesheet" type="text/css" />
        <link href="../../Content/home/Home.css" rel="stylesheet" type="text/css" />

    
    </head>
    <body>
      
	
<div class="viewport">

<header class="search-bar">
    <form id="searchForm" method="get" action="/ware/search.action">
        <div class="search-bar-tbl">
            <div class="search-bar-cell-1"><a href="javascript:void(0);" class="logo"></a></div>
            <div class="search-bar-cell-2">
                <div class="search-textfile">
                    <input value="" name="sid" type="hidden">
                    <a id="searchbtn" href="javascript:void(0);" class="btn-home-search"></a>
                    <input autocomplete="off" name="keyword" id="keyword" class="search-textfile-input">
                </div>
            </div>
           
        </div>
    </form>
</header>

<div id="searchSelect" class="history-wrap" style="z-index: 9;"></div>
<div class="floor slider-floor">
    <div id="slider" class="slider" style="overflow:hidden;width: 100%;">
        <ul id="slider_touch" style="font-size: 0px; width: 100%; height:150px; margin: 0px; padding: 0px; overflow: hidden; position: relative; -webkit-transition-property: left; transition-property: left; -webkit-transition-duration: 0.2s; transition-duration: 0.2s; -webkit-transition-timing-function: ease-in; transition-timing-function: ease-in;">
               <li>
                  <div id="tabpages">
                   <div class='tab-scroller'>                       
                        <div class='tab-item'><div class="c"><span id='Span1'></span></div></div>
                        <div class='tab-item'><div class="c"><span id='Span2'></span></div></div>
                        <div class='tab-item'><div class="c"><span id='Span3'></span></div></div>
                        <div class='tab-item'><div class="c"><span id='Span4'></span></div></div>
                        <ul><span id='Span5'></span></ul>
                    </div>                
                 </div>
             </li>
        </ul>

        <div id="serial-number" class="serial-number" style="z-index:1; ">
		            <span class="point"></span>
		            <span class="point selected"></span>
		            <span class="point"></span>
		            <span class="point"></span>		
                    <span class="point"></span>	            
		  </div>
    </div>
	 <nav class="app-nav">
        <a href="/cart/index?sid=2522b1a01c942a1cb55c5a635f2cb57d" class="app-link shopping-cart">购物车</a>
        <a href="/chongzhi/index" class="app-link recharge">充值</a>
        <a href="/category/all.html?resourceType=index_category&amp;resourceValue=" class="app-link lottery">分类</a>
        <a href="/user/home?sid=2522b1a01c942a1cb55c5a635f2cb57d" class="app-link my-jd">我的</a>
    </nav>
</div>
        	
   <div class="floor discount-floor">
                <h2 class="title">12.12拒绝假货 不玩猫腻</h2>
                <div class="discount">
                    <a href="#" class="discount-link half-floor">
                        <img src="../../ProductImage/002/01.jpg" alt="双12主会场" width="100%" border="0" class="brand-photo">
                    </a>
                    <a href="#" class="discount-link up-floor">
                        <img src="../../ProductImage/002/02.jpg" alt="12.11分会场" width="100%" border="0" class="brand-photo">
                    </a>
                    <a href="#" class="discount-link down-floor">
                        <img src="../../ProductImage/002/03.jpg" alt="12.11分会场" width="100%" border="0" class="brand-photo">
                    </a>
                </div>
            </div>
    <div class="floor discount-floor">
                <h2 class="title">超值购</h2>
                <div class="discount">
                    <a href="#" class="discount-link half-floor">
                        <img src="../../ProductImage/002/01.jpg" alt="双12主会场" width="100%" border="0" class="brand-photo">
                    </a>
                    <a href="#" class="discount-link up-floor">
                        <img src="../../ProductImage/002/02.jpg" alt="12.11分会场" width="100%" border="0" class="brand-photo">
                    </a>
                    <a href="#" class="discount-link down-floor">
                        <img src="../../ProductImage/002/03.jpg" alt="12.11分会场" width="100%" border="0" class="brand-photo">
                    </a>
                </div>
    </div>		        	    	
    <div class="floor discount-floor">
            <h2 class="title">好货推荐</h2>
            <div class="discount">
                <a href="#" class="discount-link half-floor">
                    <img src="../../ProductImage/002/01.jpg" alt="双12主会场" width="100%" border="0" class="brand-photo">
                </a>
                <a href="#" class="discount-link up-floor">
                    <img src="../../ProductImage/002/02.jpg" alt="12.11分会场" width="100%" border="0" class="brand-photo">
                </a>
                <a href="#" class="discount-link down-floor">
                    <img src="../../ProductImage/002/03.jpg" alt="12.11分会场" width="100%" border="0" class="brand-photo">
                </a>
            </div>
      </div>		           
    		        	    	
  <div class="floor brand-floor">
        <h2 class="title">12.12折扣专区</h2>
        <div class="brand">
            <a href="#" class="brand-link brand-half-floor">
                <img src="../../ProductImage/002/11.jpg" alt="日百-汽车大促" width="100%" border="0" class="brand-photo">
            </a>
            <a href="#" class="brand-link brand-up-floor">
                <img src="../../ProductImage/002/12.jpg" alt="日百-美妆巨献" width="100%" border="0" class="brand-photo">
            </a>
            <a href="#" class="brand-link down-floor">
                <img src="../../ProductImage/002/13.jpg" alt="日百-福临门" width="100%" border="0" class="brand-photo">
            </a>
        </div>
 </div>
                    	    	
 <div class="floor discount-floor">
            <h2 class="title">好货推荐</h2>
            <div class="discount">
                <a href="#" class="discount-link half-floor">
                    <img src="../../ProductImage/002/01.jpg" alt="双12主会场" width="100%" border="0" class="brand-photo">
                </a>
                <a href="#" class="discount-link up-floor">
                    <img src="../../ProductImage/002/02.jpg" alt="12.11分会场" width="100%" border="0" class="brand-photo">
                </a>
                <a href="#" class="discount-link down-floor">
                    <img src="../../ProductImage/002/03.jpg" alt="12.11分会场" width="100%" border="0" class="brand-photo">
                </a>
            </div>
  </div>		 
    		        	    	
<div class="floor hot-floor">
                <h2 class="title">乐檬K3火爆来袭</h2>
                <a href="#" class="hot-link">
                    <img width="100%" src="../../ProductImage/002/21.jpg" border="0" alt="战单乐檬K3">
                </a>
</div>			    		    	

<div class="floor brand-floor">
        <h2 class="title">金融街 大波赚</h2>
        <div class="brand">
            <a href="#" class="brand-link brand-half-floor">
                <img src="../../ProductImage/002/11.jpg" alt="日百-汽车大促" width="100%" border="0" class="brand-photo">
            </a>
            <a href="#" class="brand-link brand-up-floor">
                <img src="../../ProductImage/002/12.jpg" alt="日百-美妆巨献" width="100%" border="0" class="brand-photo">
            </a>
            <a href="#" class="brand-link down-floor">
                <img src="../../ProductImage/002/13.jpg" alt="日百-福临门" width="100%" border="0" class="brand-photo">
            </a>
        </div>
 </div>

<div id="theme8" class="floor activity-floor">
   <h2 class="activity-floor-title" style="padding-bottom: 0px;">主题馆（裸价爆品 就是这么任性）</h2>
    <ul class="activity-list">
		<li class="activity-item">
            <a href="#" class="activity-link" style="background: none repeat scroll 0 0 #fff;">
				<div style="height: 1px;position: relative;text-align: right; width: 100%; ">
					<img style="opacity: 1; display: none;" width="33%" src="../../ProductImage/002/31.jpg" border="0" class="activity-photo">
					<img style="opacity: 1;" width="33%" src="../../ProductImage/002/32.jpg" border="0" class="activity-photo">
				</div>
				<img src="../../ProductImage/002/33.jpg" alt="美食" class="activity-img" width="100%" border="0">
            </a>
         </li>
	    <li class="activity-item">
            <a href="#" class="activity-link" style="background: none repeat scroll 0 0 #fff;">
				<div style="height: 1px;position: relative;text-align: right; width: 100%; ">
					<img style="opacity: 1; display: none;" width="33%" src="../../ProductImage/002/31.jpg" border="0" class="activity-photo">
					<img style="opacity: 1;" width="33%" src="../../ProductImage/002/32.jpg" border="0" class="activity-photo">
				</div>
				<img src="../../ProductImage/002/33.jpg" alt="美食" class="activity-img" width="100%" border="0">
            </a>
         </li>
         <li class="activity-item">
            <a href="#" class="activity-link" style="background: none repeat scroll 0 0 #fff;">
				<div style="height: 1px;position: relative;text-align: right; width: 100%; ">
					<img style="opacity: 1; display: none;" width="33%" src="../../ProductImage/002/31.jpg" border="0" class="activity-photo">
					<img style="opacity: 1;" width="33%" src="../../ProductImage/002/32.jpg" border="0" class="activity-photo">
				</div>
				<img src="../../ProductImage/002/33.jpg" alt="美食" class="activity-img" width="100%" border="0">
            </a>
         </li>
		<li class="activity-item">
            <a href="#" class="activity-link" style="background: none repeat scroll 0 0 #fff;">
				<div style="height: 1px;position: relative;text-align: right; width: 100%; ">
					<img style="opacity: 1; display: none;" width="33%" src="../../ProductImage/002/31.jpg" border="0" class="activity-photo">
					<img style="opacity: 1;" width="33%" src="../../ProductImage/002/32.jpg" border="0" class="activity-photo">
				</div>
				<img src="../../ProductImage/002/33.jpg" alt="美食" class="activity-img" width="100%" border="0">
            </a>
         </li>
	</ul>
<div class="activity-clear"></div>
</div>
    		        	    	
<div class="floor hot-floor">
    <h2 class="title">乐檬K3火爆来袭</h2>
    <a href="#" class="hot-link">
        <img width="100%" src="../../ProductImage/002/21.jpg" border="0" alt="战单乐檬K3">
    </a>
</div>	

</div>
				

		
        @Html.Partial("_FooterTypical")
 </body>

</html>

<style type="text/css">
        #tabpages
        {
        	width: 100%;            
            height: 200px;           
            background:#ccc;
            text-align:center;
        }
        #tabpages span
        {
        	font-family:icons!important;
        	font-size:100px;
        }
        .tab-scroller1
        {
        	height:100%;
        }
        .tab-item,#tabpages ul
        {
        	background:#fff;
        }
  </style>
 <script type="text/javascript">
     var tab = new QsmartTab('tabpages', { 'callback': dd });
     $(document).ready(function () {
         $("#serial-number span").bind("click", function () {             
             var index = $(this).index();
             tab.jump(index);
             //添加样式
             $(this).addClass("selected").siblings().removeClass("selected");
         });
     });
    

     function dd(a) {
         console.log(a);
     };
     var kk = 0;
     $('.ui-gotop').on('click', function () { document.tab.jump(kk); kk++; });

     $('#Span1').html('<img src="../../ProductImage/001/00001.jpg" style="width:100%;height:150px;"/>');
     $('#Span2').html('<img src="../../ProductImage/001/00002.jpg" style="width:100%;height:150px;"/>');
     $('#Span3').html('<img src="../../ProductImage/001/00003.jpg" style="width:100%;height:150px;"/>');
     $('#Span4').html('<img src="../../ProductImage/001/00004.jpg" style="width:100%;height:150px"/>');
     $('#Span5').html('<img src="../../ProductImage/001/00001.jpg" style="width:100%;height:150px;"/>');

 </script>
